.animated-nav
	height 100vh
	position fixed
	background-color #dcd6e3
	top 0
	right 0
	z-index 101
	display none
	box-shadow 0 0 1rem #000

.animated-nav-list-container
	i 
		margin .5rem
		color knox_purple_button
		
.animated-nav-close-container
	background-color knox_purple
	text-align center
	padding 1em
	
.animated-nav-close-container button
	background-color knox_purple_button
	border 1px solid knox_purple_button
	color #fff
	padding .5rem 1rem
	font-weight bold
	font-size 1rem

.animated-nav-social-container
	h3
		margin 0

.animated-nav-sub-list li:first-child
	border-top	1px solid #edeaf1
	
.animated-nav-main-list, .animated-nav-sub-list
	font-size .95rem
	list-style none
	background-color #fff
	margin 0
	line-height
	li 
		color knox_purple
		span
			font-size .6rem
			background-color #edeaf1
			padding .25rem
			border-radius 50%
	li:hover
		color knox_purple_button

.animated-nav-sub-list li:first-child
	padding-top .5rem
	

.animated-nav-sub-list
	padding 1rem 2rem 2rem 2rem
	
.animated-nav-main-list
	padding 2rem 2rem 0 2rem
	
.animated-nav-social-container
	margin 1rem 0 0 0
	text-align center
	color knox_purple
	
.animated-nav-icons-container
	i
		background-color knox_purple
		padding .5rem
		border-radius 50%
		color #fff

.box-shadow 
	box-shadow 0 0 1rem #000
	