.col-img.four
    background-image url(http://s23.postimg.org/j8wn6fvzt/Screen_Shot_2015_08_14_at_11_12_53_AM.png)
    padding-top 57%
    background-size cover
    background-position center center

.img-overlay
    display flex
    float right
    border 1px solid knox_yellow
    width 45%
    color #fff
    margin: 0 2.5rem 2.5rem 0;
    button
        color #795b00
        background-color knox_yellow
        border 1px solid knox_yellow
        font-size 1.5rem
        width 50%
    p
        display flex
        flex-direction column
        padding 0 1rem
        span
            font-size .8rem
            color knox_yellow