.footer
    padding 2rem
    color #e3d7f2
    display flex
    flex-direction column
    ul
        list-style none
    span
        color #fff
        font-size 1rem
        
.logo-img
    background-image url(http://s23.postimg.org/wojnvw4hn/Screen_Shot_2015_08_14_at_11_13_15_AM.png)
    background-size cover
    background-position center center
    width 211px
    height 62px
    
.logo-social-footer-container
    width 100%
    display flex
    justify-content space-between
    margin-bottom 1.5rem

.social-footer
    display flex
    p
        font-size .8rem
        margin 1rem 1rem 0 0
        color #bc9ee4

.icons-container
    i
        background-color #7540bc
        padding 1rem
        border-radius 50%

.bottom-footer-text
    display flex
    justify-content space-between

.contact-about-info
    display flex
    font-size .9rem
    line-height 1.5


.contact
    padding 0
    i
       color #e3d7f2 

.footer-links, .footer-links-two
    line-height 2.75
    
.footer-links-two
    margin-right 8rem    