html
    background-color #3a3a3a
    
body
    max-width max-width
    margin auto
    display flex
    flex-direction column
    font-family proxima-bold() 
    
.purple
    background-color knox_purple 
       
.yellow
    background-color knox_yellow

.col-student
    &.one
        background-color black
    &.two
        background-color black
    &.three
        background-color black 


