html
    background-color #3a3a3a
    
body
    max-width 100%
    margin auto
    display flex
    flex-direction column
    font-family "proxima-nova", Arial 

    
.purple
    background-color knox_purple 
       
.yellow
    background-color knox_yellow

.col-student
    &.one
        background-color black
    &.two
        background-color black
    &.three
        background-color black 


