html
    background-color #3a3a3a
    
body
    max-width max-width
    margin auto
    display flex
    flex-direction column
    font-family Arial, Helvetica, sans-serif
    
.purple
    background-color knox_purple 
       
.yellow
    background-color knox_yellow

.student-img
    background-size cover
    background-position center center
    &.one
        background-image url(http://s12.postimg.org/4xn3xd6yl/Screen_Shot_2015_08_17_at_11_00_43_AM.png)
        padding-top 57%   
    &.two
        background-image url(http://s23.postimg.org/9s28m2mrf/Screen_Shot_2015_08_14_at_11_08_41_AM.png)
        padding-top 57%   
    &.three
        background-image url(http://s23.postimg.org/n7p9biv97/Screen_Shot_2015_08_14_at_11_10_11_AM.png)
        padding-top 57%   
    &.four
        background-image url(http://s22.postimg.org/h6kjd7xcx/Screen_Shot_2015_08_17_at_3_03_49_PM.png)
        height 419px
        width 253px      
        position relative

.col-student
    &.one
        background-color black
    &.two
        background-color black
    &.three
        background-color black 
      
