@import 'nib'
@import 'jeet'
@import '_variables.styl'
@import '_general.styl'
@import '_title-img.styl'
@import '_title-img-footer.styl'
@import '_student-imgs.styl'
@import '_student-row-one.styl'
@import '_student-floating-tile.styl'
@import '_middle-img-one.styl'
@import '_middle-img-two.styl'
@import '_student-row-two.styl'
@import '_student-row-three.styl'
@import '_bottom-img.styl'
@import '_footer.styl'


