@import 'nib'
@import 'jeet'
@import '_variables.styl'
@import '_general.styl'
@import '_title-img.styl'
@import '_title-img-footer.styl'
@import '_student-imgs.styl'
@import '_student-row-one.styl'
@import '_student-floating-tile'


.col-student
    &.one
        background-color black
    &.two
        background-color black
    &.three
        background-color black