.col-student.one
	display flex
	max-height 250px

.grad-hat
	border-top 1px solid #725b91
	border-bottom 1px solid #725b91
	padding 5px 0
	i
		color #725b91
		margin-left 5px
		float right
		font-size 1.25rem
	
.student-article.one
	max-width 250px
	height 345px
	position relative
	color #fff
	h3, p, button
		margin 7% 7% 0 7%
	h3
		font-size 4rem
		-webkit-transform scale(1,1.5)
	p:nth-child(3)
		color #c7bbd7
		line-height 200%
	button
		min-height 50px
		width 80%
		background-color #683da1
		color #fff
		border 1px solid #683da1
		font-size 1rem
		border-radius 5%


