.col-student.three
	display flex
	max-height 250px

.student-img.four
	max-height 420px

.student-article.four
	margin-left 6rem
	width 250px
	height 225px
	color #fff
	padding 1.5rem
	position relative
	h3
		font-size 6rem
		-webkit-transform scale(1,1.50)
		margin 0
	p
		border-top 1px solid #604583
		border-bottom 1px solid #604583
		padding .25rem 0
		i
			float right
			color #604583
	button
		height 50px
		width 200px
		background-color #683da1
		color #fff
		border 1px solid #683da1
		font-size 1rem
		margin 0 1.5rem

.student-article.five
	background-color #fff
	text-align center
	color #717171
	width 40%
	p
		padding 3rem 0rem
		width 60%
		margin auto
		font-size 1.5rem
	a
		text-decoration none
		color knox_purple
		font-size .8rem

.events
	background-color knox_yellow
	font-size .8rem
	padding .1rem .50rem
	float left
	color #000