.student-img
    background-size cover
    background-position center center
    &.one
        background-image url(http://s12.postimg.org/4xn3xd6yl/Screen_Shot_2015_08_17_at_11_00_43_AM.png)
        padding-top 57%   
    &.two
        background-image url(http://s23.postimg.org/9s28m2mrf/Screen_Shot_2015_08_14_at_11_08_41_AM.png)
        padding-top 57%   
    &.three
        background-image url(http://s23.postimg.org/n7p9biv97/Screen_Shot_2015_08_14_at_11_10_11_AM.png)
        padding-top 57%   
    &.four
        background-image url(http://s22.postimg.org/h6kjd7xcx/Screen_Shot_2015_08_17_at_3_03_49_PM.png)
        height 419px
        width 253px      
        position relative

.student-img
	&.one
		height 250px
		max-width 250px
		width 20.8%
		margin-left 6rem
		padding 0
	&.two 
		max-width 500px
	&.three
		max-width 500px