.student-floating
	// max-width 500px
	width 41.6%
	position relative
	margin-top -2rem

.float-div
	&.student-quote
		background-color knox_yellow
		padding 2rem .8rem
	&.news
		background-color knox_purple
	&.bottom
		background-color #fff
		h6
			margin 0

.student-quote
	color #ffdb41
	h6, p, button
		margin 0 15%
	i
		position absolute
		font-size 2.5rem
		color #be9903
		margin 7% 0 0 10%
	h6 
		font-size 1.5rem
		font-weight 100
		padding-top 10%
		position relative
		line-height 1.5

.student-year-and-button-container
	display flex
	justify-content space-between
	padding	10%

.student-year-container
	display flex
	flex-direction column
	width 50%
	p
		font-size .9rem
	h6
		color #fff
		font-size 1rem
		-webkit-transform scale(1,1.5)
		margin-bottom 5px

.button-container
	width 35%
	button
		color #937601
		height 45px
		background-color #fff
		border 1px solid #fff
		margin-top 1rem
		font-size 1rem
		padding 0 1rem
		width 9rem
		height 3rem
	button::after
		content "Read More"

.news
	color #fff
	width 3.5rem
	text-align center
	margin-top -.5rem
	position relative
	font-size .9rem
	padding .2rem

.bottom
	margin-top -.8rem
	text-align center
	padding 3.5rem 7.5%
	h6
		font-size 1.75rem
	p
		line-height 1.5
		padding 0 1rem
		font-weight 100
	a
		color knox_purple
		text-decoration none









		
