.col-student.two
	display flex
	min-height 250px
	
.student-article.two
	margin-left 6rem
	display	flex
	flex-direction column
	text-align center
	p
		font-size 1.25rem
		color #ffe775
		margin 2rem 0 0 0

.student-article.two, .student-article.three
	width 250px

.social
	display flex
	i
		background-color #fff
	    border-radius 50%
	    font-size 1.75rem
	    margin-left 5px
	    margin-top 2rem
	    justify-content space-around
	.fa-facebook, .fa-twitter, .fa-flickr
		padding 1rem
		border-radius 50%
		color knox_yellow
		margin-right 1rem

.undergrads
	padding .5rem 1rem
	border-top 1px solid #614784
	border-bottom 1px solid #614784
	width 80%
	margin auto
	i
		color #614784
		float right

.student-article.three
	color #fff
	position absolute
	p
		color #fff
	span
		color #c7bbd7
	h3
		font-size 5rem
		margin 0
		text-align center
		padding 0 .5rem
	button
		height 50px
		width 200px
		background-color #683da1
		color #fff
		border 1px solid #683da1
		font-size 1rem
		margin 1.25rem 1.5rem

.student-nums
	padding 0 1.5rem
	margin .25rem 0
	


	

