.col-img.footer
  text-align center
  padding 3.5rem 0
  background-color #fff
  p
   max-width 337px
   margin auto
   color font-color
   margin-bottom 1rem
  a
   color knox_purple
   text-decoration none