.col-img
    &.one
        background-image url(http://s23.postimg.org/k5yh1ki49/Screen_Shot_2015_08_14_at_11_07_38_AM.png)
        padding-top 57%
        background-size cover
        background-position center center
        color white
        display flex
        flex-direction column
        h1
         margin 0
         font-size 1.5rem
         -webkit-transform scale(1,2)

.top-nav-container
    display flex
    justify-content space-between
    align-items center
    position absolute
    top 0
    width 100%
    max-width max-width
    padding-top 20px

.nav-left
   padding-left 15px
   font-size .75rem
   display flex
   align-items center
.nav-right
   padding-right 15px
   font-size .75rem
   display flex
   align-items center
 

.subheader
    text-align center
    font-size 4rem
    -webkit-transform scale(1,2)
    // line-height 200%

.fa
    &.fa-search
     font-size 1.5rem
     padding-right 2.5px
    &.fa-bars
     font-size 1.5rem
     padding-right 2.5px
 
    