proxima()
    font-family "proxima-nova",sans-serif
    font-style normal
    font-weight 400

proxima-italic()
    font-family "proxima-nova",sans-serif
    font-style italic
    font-weight 400

proxima-thin()  
    font-family "proxima-nova",sans-serif
    font-style normal
    font-weight 100

proxima-bold()
    font-family "proxima-nova",sans-serif
    font-style normal
    font-weight 700