.logo-social-footer-container
    +below(cellsize)
        justify-content space-between

.logo-img
    +below(466px)
        width 50%
        height 50spx

.social-footer p
    +below(cellsize)
        display none

.respond-clear
    +below(cellsize)
        display none

.footer-links, .footer-links-two
    +below(cellsize)
        line-height 1.50

.footer-links-two
    +below(cellsize)
        padding 0 1rem

.contact li 
    +below(cellsize)
        font-size .60rem
        