.subheader
    +below(screensize)
        font-size 3rem
    +below(cellsize)
        font-size 2rem

.col-img
    &.one
        h1
            +below(screensize)
                font-size 1rem

.nav-text
   +below(screensize)
      display none
